.navbar {
    display: block;
    color: #f2f2f2;
    text-align: center;
    display: block;
    color: #f2f2f2;
    text-align: center;
    height: 60px;
    text-decoration: none;
    text-decoration: none;
    background:turquoise;
    
    width: 100%;
   
  }
  .navbar button{
    float: left;
     margin: auto;
    
  

  

  }
 